{% extends "base.html.twig" %}

{% block title 'Samphone Reparation' %}
   
{% block body %}
<div class="jumbotron text-center" >
    <div class="container">
        <h1> Samphone </h1>
         <p> 
            Supported neglected met she therefore unwilling discovery remainder. Way sentiments two
             indulgence uncommonly own. Diminution to frequently sentiments he connection
             continuing indulgence. 
          </p>
    </div>
</div>
<div class="container">
    <h2>Les derniers Smartphones</h2>
    <div class="row flex">
    {% for produit in produits %}
        <div class="col-3">
          <div class="card">
             <div class="card-body">
                 <h5 class="card-title">
                    <a href="{{ path('boutique.show', {id: produit.id, slug: produit.slug}) }}">
                       {{ produit.titre }}
                    </a>
                 </h5>
                  <p class="card-text">  
                        {{ produit.descri }}
                  </p>
                  <div class="text-primary" style="font-weight: bold; font-size: 2rem;">
                        {{ produit.formattedPrix }} €
                  </div>
             </div>
          </div>
        </div>
    {% endfor %}
        
    </div>
</div>
    
{% endblock %}